// Colors

$primary-green: #F1FaEE; // Honeydew
$primary-red: #E63946; // Imperial Red
$primary-blue-1: #D3ECEE; // Powder Blue
$primary-blue-2: #F0F9F9; // Mint Cream

$secondary-green-1: #CBEDC0; // Tea Green
$secondary-green-2: #97DB80; // Granny Smith Apple
$secondary-blue-1: #457B9D; // Celadon Blue
$secondary-blue-2: #1D3557; // Prussian Blue