.header {
    width: 90vw;
    
    background-color: rgba(#eee, .8);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    &__img {
        img {
            height: 10vw;
            border-radius: 50%;
        }
    }
}   