.header {
    
    grid-row: 2 / 3; 
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    
    
    &__icons{
        grid-column: 5 / 8;
    }

    &__resume {
        grid-column: 9 / 10;
    }

    &__img {
    
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        transition: all .7s;
        perspective: 150rem;


        img {
            width: auto;
            height: 20vh;   
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            box-shadow: 0 0 3rem 1.5rem rgba($secondary-green-2, .45);
            backface-visibility: hidden;
        }

        &--text {
            position: absolute;
            background-color: $primary-green;
            transform: rotateY(180deg);
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            opacity: 0;
            transition: all 0.6s;
            
            h1 {
                margin-top: 2rem; 
                font-size: 4.5rem;
                font-weight: 300;
                text-align: center;
                letter-spacing: 1.3px;
            }
        
            &:hover {
                transform: rotateY(0);
                opacity: 100%;
                cursor: pointer;
            }
        }

        &:hover &--front {
            cursor: pointer;
            transform: rotateY(-180deg);
            opacity: 0;
        }
        
    }
}    

.header:after {
    content: "";
    display: block;
    width: 10vh;
    height: 2px;
    background: $secondary-blue-1;
    border-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: 25%;
}