.btn {
    background-color: $primary-blue;
    padding: 1rem 2rem;
    width: max-content;
    height: min-content;
    outline-style: none;
    border-style: none;
    border-radius: 3px;
    box-shadow: 5px 3px 3px $secondary-blue-1;

    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    font-weight: 400;
    transition: filter .3s;

    &:hover {
        cursor: pointer;
        filter: brightness(.88);
        
    }

    &:active {
        transform: translateY(3px);
    }
}