.navbar {
    
    grid-column: 2 / 3;
    grid-row: 4 / 10;
    
    h3 {

        
        
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: silver;
        }
    }
}