.navbar {
    
    grid-column: 2 / 3;
    grid-row: 4 / 10;
    
    h3 {
        width: max-content;
        align-items: center;
        margin-top: 5rem;
        padding: 1rem 1.5rem;
        border-radius: 3px;
        transition: all .3s;
        position: relative;

        &:hover {
            cursor: pointer;
            background-color: $secondary-green-1;
            transform: translateX(1rem); 
        }
    }

  
}

.navbar:after {
    content: "";
    display: block;
    width: 2px;
    height: 10vh;
    background: $secondary-blue-1;
    position: fixed; 
    top: 50%;
    transform: translateY(-50%);
    left: 27vw;
}
 
