*, //set all margins & paddings to 0
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem === 10px, 10px/16px (browser default) = 62.5%
}

body {
    font-weight: 300;
    line-height: 1.6; 
    background-color: $primary-green;
    color: $secondary-blue-2;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: 5vh repeat(10, 9.5vh);  
}  

