//SOCIAL MEDIA ICON BAR

ion-icon {
    font-size: 32px;
}

.icons {
    

    & > * {
        @include iconFocusScale;

        margin: 2px;   
    }

    &__yahoo {
        color: #6001D2; 
        transition: all .3s;

        &:hover {
            transform: scale(1.3);  
        }
    }

    &__github {
        color: #181717; 
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }

    &__gmail {
        color: #D14836;
        transition: all .3s;

        &:hover {
            transform: scale(1.3);  
        }
    }

    &__linkedin {
        color: #0077B5;
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }

    &__medium {
        color: #12100E;
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }
}