//SOCIAL MEDIA ICON BAR

ion-icon {
    font-size: 32px;
}

.header__icons {
    

    & > * {
        @include iconFocusScale;

        &:not(:last-child) {
        
            margin-right: 2rem;
        }
    }

    &--yahoo {
        color: #6001D2; 
        transition: all .3s;

        &:hover {
            transform: scale(1.3);  
        }
    }

    &--github {
        color: #181717; 
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }

    &--gmail {
        color: #D14836;
        transition: all .3s;

        &:hover {
            transform: scale(1.3);  
        }
    }

    &--linkedin {
        color: #0077B5;
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }

    &--medium {
        color: #12100E;
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }

    &--twitter {
        color: #1DA1F2;
        transition: all .3s;

        &:hover {
            transform: scale(1.3); 
        }
    }
}