.about_me {
    

    &__flatiron-img {
        height: 7vh;
        width: auto;
        margin: 0 1rem;
        padding: 1px;
        vertical-align: middle;
        
    } 
}

// Make each sentence slide down from the top