.about_me {
    
    img {
        margin: 1rem 2rem;
        background-color: $primary-blue-2;
        padding: 1rem 2rem;
        width: max-content;
        height: auto;
        outline-style: none;
        border-style: none;
        border-radius: 3px;
        box-shadow: 5px 3px 3px $secondary-blue-1;
        transition: all .3s;

        &:hover {
            filter: brightness(.88);
            transform: scale(1.07);
            box-shadow: 7px 5px 5px $secondary-blue-2;
        }
    }

}

// Make each sentence slide down from the top