.education {
    display: none;

    p {
        line-height: 3;
    }

    img {
        transition: all .3s;
        
        &:hover {
            transform: scale(1.075);
        }
    }

    &__ccny-img {
        height: 10vh;
        width: auto;
        margin: 0 1rem;
        padding: 1px;
        vertical-align: middle;
    }

    &__flatiron-img {
        background-color: white;
        height: 7vh;
        width: auto;
        margin: 0 1rem;
        padding: 1px;
        vertical-align: middle;
    } 

    &__baruch-img {
        height: 7vh;
        width: auto;
        margin: 0 1rem;
        padding: 1px;
        vertical-align: middle;
    } 

    &__bxsci-img {
        height: 10vh;
        width: auto;
        margin: 0 1rem;
        padding: 1px;
        vertical-align: middle;
    }

    @media screen and (max-width:1400px) {
        p {
            line-height: 2.4;
        }
    
        img {  
            &:hover {
                transform: scale(1.050);
            }
        }
    
        &__ccny-img {
            height: 8.5vh;
        }
    
        &__flatiron-img {
            height: 6vh;
        } 
    
        &__baruch-img {
            height: 6vh;
        } 
    
        &__bxsci-img {
            height: 8.5vh;
        }
        
    }
}