.landing {
    display: grid;
    grid-column: 1 / -1;

    grid-template-columns: repeat(10, 5vw);
    grid-template-rows: repeat(10, 5vh);
    grid-gap: 1.5rem;
    padding: 1.5rem; 

    &__text-1 {
        margin: 0;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    &__text-2 {
        margin: 0;

        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    &__container {
        display: grid; 
        grid-row: 3 / -1;
        grid-column: 1 / -1;
        grid-template-columns: repeat(10, 5vw);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 5px;
        }

        &--baby_photo {
            grid-row: 1 / span 3;
            grid-column: 1 / span 2;
        } 

        &--beemo_subway {  
            grid-row: 7 / span 4;
            grid-column: 6 / span 2;
        }

        &--me_and_lis {
            grid-row: 1 / span 4;
            grid-column: 3 / span 3;
        }

        &--bxsci_grad {
            grid-row: 4 / span 4;
            grid-column: 1 / span 1;
        }

        &--mhc_grad {
            grid-row: 1 / span 2;
            grid-column: 6 / span 1;
        }

        &--award_photo {
            grid-row: 5 / span 4;
            grid-column: 5 / span 1;
        }

        &--bear_mtn {
            grid-row: 5 / span 5;
            grid-column: 10 / span 1;
        }

        &--grass_selfie {
            grid-row: 1 / span 2;
            grid-column: 9 / span 2;
        }

        &--beemo_nose {
            grid-row: 8 / span 2;
            grid-column: 1 / span 1;
        }

        &--beemo_tree {
            grid-row: 5 / span 6;
            grid-column: 2 / span 3;
        }

        &--logans {
            grid-row: 3 / span 4;
            grid-column: 6 / span 4;
        }

        &--oscar {
            grid-row: 9 / span 2;
            grid-column: 5 / span 1;
        }

        &--therapist {

        }

        &--seymour_bandana {
            grid-row: 8 / span 3;
            grid-column: 1 / span 1;
        }

        &--me_and_mom {
            grid-row: 3 / span 3;
            grid-column: 10 / span 1;
        }
        
    }
}