.projects {
    display: none;

    a{
        font-size: 14px;
        text-decoration: none;
        transition: all .3s;

        &:visited, &:active {
            text-decoration: none;
            color: black;
        }

        p {
            margin: 1rem .5rem;
            transition: all .3s;
            width: max-content;
            display: inline-block;

            &:hover {
                transform: translateY(-4px);
            }
        }
    }

    p {
        margin: 2rem 0 1.5rem -.5rem;
        font-size: 18px;
    }

    ul {
        list-style: none;
    }
    
    &__instructions {
        font-size: 18px;
    }

    &__nav {
        display: flex;
        flex-direction: row;

        & > * {
            margin-left: 1.5rem;
        }

        &--portfolio {
            height: 10rem;
            width: auto;
        }
    
        &--date {
            height: 10rem;
            width: auto;
        }
    
        &--news {
            height: 10rem;
            width: auto;
        }
    
        &--game {
            height: 10rem;
            width: auto;
        }
    
        &--beer {
            height: 10rem;
            width: auto;
        }
    }

    &__portfolio {
        margin: 2rem 1rem;
    }

    &__date {
        margin: 2rem 1rem;
    }

    &__news {
        margin: 2rem 1rem;
    }

    &__game {
        margin: 2rem 1rem;
    }

    &__beer {
        margin: 2rem 1rem;
    }

}

