.projects {
    display: none;

    h1 {
        display: inline-block;
    }

    h5 {
        margin: 1rem 0;
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    a{  
        font-size: 14px;
        color: black;
        text-decoration: none;
        transition: all .3s;

        &:visited, &:active {
            text-decoration: none;
        }

        p { /* Link text (Github, Youtube) */
            margin: 0 1.5rem 1rem 1.5rem;
            transition: all .3s;
            display: inline-block;
            font-style: italic;

            &:hover {
                transform: translateY(-4px);
                text-shadow: .3px .3px $secondary-blue-1;
            }
        }
    }

    p { /* Project details text*/
        margin: 2rem 0 2rem -.5rem;
        font-size: 18px;
    }

    ul {
        list-style: none;
    }
    
    &__instructions {
        font-size: 18px;
    }

    &__nav {
        display: flex;
        flex-direction: row;

        & > * {
            margin-left: 1.5rem;
        }

        &--portfolio {
            height: 10rem;
            width: auto;
        }
    
        &--date {
            height: 10rem;
            width: auto;
        }
    
        &--news {
            height: 10rem;
            width: auto;
        }
    
        &--game {
            height: 10rem;
            width: auto;
        }
    
        &--beer {
            height: 10rem;
            width: auto;
        }
    }

    &__portfolio {
        margin: 2rem 1rem;
    }

    &__date {
        margin: 2rem 1rem;

        &--last {
            margin-bottom: 2rem;
        }
    }

    &__news {
        margin: 2rem 1rem;
    }

    &__game {
        margin: 2rem 1rem;
    }

    &__beer {
        margin: 2rem 1rem;
    }

}

